body {
    display: block;
    margin: 0;
    width: 100%;
    background-color:#ffffff;
    font-size:14px;
    font-family:Verdana;

}

.header {
    background-color: #ffffff;
    height: 20%;
    width: 100%;
    border-bottom: 0.2vh solid rgb(197, 181, 181);
}

.logo {
    float: left;
    height: 60px;
    width: auto;
    margin-left: 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 6% 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 180%;
}

nav li:hover {
    animation: navigation 1s;
    background-color: rgba(92, 162, 185, 0.5);
    
}

.logo:hover {
    animation: animate 1s infinite  alternate;
}

#container{
	width:80%;
	margin-left:10%;
	
}

h1{
	text-align:center;
	width: 70%;
	margin-left:15%;
}

h2{
	
	margin-left:25%;
	
}
#container2{
	position:relative;
	text-align: center;
	color:rgba(92, 162, 185, 0.5);
}

#aboutusmain img{
	width:100%;
	margin-right:10%
}

.centerImage{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#container2{
	margin-left:15%;
	width:70%
	
}


#footer{
	background-color:#bfc9d2;
	height:100px;
	width:100%;
}

#footer a img{
	height:100px;
	margin-left:5%;
	margin-right:5%;
}
#footer a{
	font-family:Verdana;
	text-decoration: none;
	color:red;
}




#footer ul{
	list-style-type: none;
	float:right;
	margin-right:5%
}

#ul2{
	float:right;
	margin-right:5%
	
}

#download{}

#about{
	
}

#shop{
	
}

#premium{
	
	
}