.main-body{
    width: 75%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.body-center {
  width: 87%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  } 

.shoptext {
  border-radius: 50px;
  margin: 25px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.shop-items{
  display: flex;
  justify-content: space-between;
  order: 3;
  flex-wrap: wrap;
  
}

.item {
  margin: 5px;
  flex: 2 1 25%;
  box-sizing: border-box;
}

.item > h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 10px;
  font-weight:900;
  color: #333;
  text-decoration: none;
}

.item > img {
  width: 75%;
  padding-bottom: 5px;
  object-fit: cover;
  transition: all .3s ease;
}

.item > img:hover {
  transform: scale(1.2);
  }


.price {
  color:green;
  font-weight: bold;
}

input {
  margin: 10px;
  background-color: #79B016; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
}

input:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

nav ,ul { list-style-type: none; }

#shopping-cart-actions{
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}

#shopping-cart-actions > li{
  flex: 50%;
}

.center-body > h1, h2, h3, h4, h5, h6, p {
  text-align: right;
}

th {
  padding: 0px 150px 0px 150px;
}

li > a#inputCart , li > a#RedButton{
  margin: 10px;
  background-color: #79B016; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


@media screen and (max-width: 768px){
  th {
    padding: 0px 0px 0px 0px;
  }
  .main-body {
    text-align: left;
  }

  td > img {
    width: 60px;
    height: 60px;
  }

  .body-center {
    width: 100%;
  }
}


@media screen and (max-width: 1142px) and (min-width: 769px){
  th {
    padding: 0px 20px 0px 20px;
  }
  .main-body {
    text-align: left;
  }

  td > img {
    width: 90px;
    height: 90px;
  }

  .body-center {
    width: 79%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1142px)  {
  th {
    padding: 0px 0px 0px 0px;
  }
  .main-body {
    text-align: left;
  }

  td > img {
    width: 90px;
    height: 90px;
  }

  .body-center {
    width: 79%;
  }
}


@media screen and (max-width: 1892px) and (min-width: 1280px){
  th {
    padding: 0px 15px 0px 15px;
  }
  .main-body {
    text-align: left;
  }

  td > img {
    width: 120px;
    height: 120px;
  }

  .body-center {
    width: 79%;
  }
}

