body {
    display: block;
    margin: 0;
    max-width: 100%;
    background-color:#ffffff;
    font-size:14px;
    font-family:Verdana;
}

.header {
    background-color: #ffffff;
    height: 20%;
    max-width: 100%;
    border-bottom: 0.2vh solid rgb(197, 181, 181);
}

.logo {
    float: left;
    height: 60px;
    max-width: auto;
    margin-left: 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 6% 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 180%;
}

li:hover {
    animation: navigation 1s;
    background-color: rgba(92, 162, 185, 0.5);
    
}

.logo:hover {
    animation: animate 1s infinite  alternate;
}

.main-body {
    background-color: rgba(189, 189, 189, 0.10);
    text-align: left;
    width: 75%;
    margin:auto;
    padding-top: 80px;
    display: flex;
    flex-wrap: nowrap;
}

.features-body {
    background-color: rgba(48, 44, 44, 0.808);
    text-align: center;
    max-width: 100%;
    height: 110px;
    margin:auto;
}

.features {
    padding: 30px;
}

.features > h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100%;
}

.center-body {
    background-color: rgba(189, 189, 189, 0.10);
    text-align: left;
    width: 75%;
    margin:auto;
    padding: 20px 15px 20px 15px;
}

.center-body > h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.header-font {
    font-size: 35px;
    padding-top: 50px;
    margin-left: 25px;
}

.body-intro{
    width: 50%;
    box-sizing: inherit;
    
}

.body-intro > h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 65px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
.body-intro > p {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    display: list-item;          
    list-style-type: square;   
    list-style-position: inside;
    padding-left: 55px;
}

.frontprotection {
    width: auto;
    animation: animate 1.8s infinite  alternate;
    height: 100%;
}

.download {
    height: auto;
    padding-top: 75px;
    padding-left: 70px;
}



@keyframes navigation {
    0%   {background-color:rgba(92, 162, 185, 0)}
    100%   {background-color:rgba(92, 162, 185, 0.5)}
  }

@keyframes animate{
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#footer{
	background-color: rgba(136, 190, 207, 0.288);
	/*margin-top: 700px;
	margin-left: 150px;*/
}


.footeralink{
	margin-left: 15%;
	width: 5%;
	
}
#footer{
	background-color:#bfc9d2;
	height:100px;
	width:100%;
}

#footer a img{
	height:100px;
	margin-left:5%;
	margin-right:5%;
}
#footer a{
	font-family:Verdana;
	text-decoration: none;
	color:red;
}




#footer ul{
	list-style-type: none;
	float:right;
	margin-right:5%
}

#ul2{
	float:right;
	margin-right:5%
	
}