body {
    display: block;
    margin: 0;
    max-width: 100%;
    background-color:#ffffff;
    font-size:14px;
    font-family:Verdana;
}

.header {
    position: relative; 
    background-color: #ffffff;
    height: 120px;
    max-width: 100%;
    border-bottom: 0.2vh solid rgb(197, 181, 181);
}

.logo{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 15px;
}

.selected {
    box-shadow: 0 -10px  red inset;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 180%;
}

li:hover {
    animation: navigation 1s;
    background-color: rgba(92, 162, 185, 0.5);
    
}

.logo:hover {
    animation: animate 1s infinite  alternate;
}

.main-body {
    background-color: rgba(189, 189, 189, 0.10);
    text-align: left;
    width: 75%;
    margin:auto;
    padding-top: 80px;
    display: flex;
    flex-wrap: nowrap;
}

.features-body {
    background-color: rgba(48, 44, 44, 0.808);
    text-align: center;
    max-width: 100%;
    height: 110px;
    margin:auto;
}

.features {
    padding: 31px;
}

.features > h1 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.center-body {
    background-color: rgba(189, 189, 189, 0.10);
    text-align: left;
    width: 75%;
    margin:auto;
    padding: 20px 15px 20px 15px;
}

.center-body > h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.header-font {
    font-size: 35px;
    padding-top: 50px;
    margin-left: 25px;
}

.body-intro{
    width: 50%;
    box-sizing: inherit;
    
}

.body-intro > h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 65px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
.body-intro > p {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    display: list-item;          
    list-style-type: square;   
    list-style-position: inside;
    padding-left: 55px;
}

.frontprotection {
    max-width: 100%;
    animation: animate 1.8s infinite  alternate;
    height: auto;
}

.download {
    height: auto;
    padding-top: 75px;
    padding-left: 70px;
}



@keyframes navigation {
    0%   {background-color:rgba(92, 162, 185, 0)}
    100%   {background-color:rgba(92, 162, 185, 0.5)}
  }

@keyframes animate{
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#footer{
	background-color: rgba(136, 190, 207, 0.096);
	/*margin-top: 700px;
	margin-left: 150px;*/
}


.footeralink{
	margin-left: 15%;
	width: 5%;
	
}
#footer{
	background-color:#bfc9d260;
	height:75px;
	width:100%;
}

#footer a img{
	max-height: auto;
  max-width: 60px;
	margin-left:5%;
	margin-right:5%;
}
#footer a{
	font-family:Verdana;
	text-decoration: none;
	color:red;
}


#footer ul{
	list-style-type: none;
	float:right;
	margin-right:5%
}

#ul2{
	float:right;
	margin-right:5%
	
}

.footer-logo {
    padding-top: 10px;
    max-width: 60px;
    max-height: 60px;
}

#footer > ul {
    margin: 0;
    padding-top: 10px;
}










@media screen and (max-width: 768px){

  .header {
    position: relative;
    background-color: #ffffff;
    height: 164px;
  }
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0;
    }
    nav ul li a {
      text-decoration: none;
      font-weight: bold;
      font-size: 86%;
    }
    nav ul li {
      list-style-type: none;
      display: grid;
      padding: 8px 20px;
        margin-right: 20px;
      }

      .logo {
        content: url("../Photos/logo.png");
        margin-left: 70%;
        height: 100px;
        max-width: auto;
        
      }

      .margin-top > li{
        float: right;
      }
      .main-body {
        background-color: rgba(189, 189, 189, 0.10);
        text-align: left;
        width: 75%;
        margin: auto;
        padding-top: 35px;
        display: block;
      }

      .body-intro > h1 {
        margin: 0;
        font-size: 65px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
      }

      .body-intro > p {
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        display: list-item;
        list-style-type: square;
        list-style-position: inside;
        text-align: left;
        padding-left: 0px;
      }

      .body-intro {
        width: 100%;
        box-sizing: inherit;
      }

      .main-body {
        text-align: center;
      }

      .features {
        padding: 0px;
        display: flex;
      }
      .download {
        height: auto;
        padding-top: 0px;
        padding-left: 0px;
      }

      .features-body {
        background-color: rgba(48, 44, 44, 0.808);
        text-align: center;
        max-width: 100%;
        height: 150px;
        margin: auto;
      }

      .features > h1 {
        color: rgb(255, 255, 255);
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline;
        font-family: 'Roboto Condensed', sans-serif;
        max-width: 100%;
      }

      .dot {
        height: 8px;
        width: 8px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .download > img {
      max-height: 100%;
      width: 200px;
    }
    }










    @media all and (max-width: 1142px) and (min-width: 769px){
        nav ul li a {
            font-size: 100%;
          }


        .body-intro > h1 {
            margin: 0;
            margin-left: 0px;
            margin-left: 30px;
            font-size: 36px;
            text-align: center;
            font-family: 'Roboto Condensed', sans-serif;
        }

        .body-intro > p {
            font-family: 'Raleway', sans-serif;
            font-size: 19px;
            display: list-item;
            list-style-type: square;
            list-style-position: inside;
            padding-left: 55px;
          }

        .frontprotection {
            width: auto;
            animation: animate 1.8s infinite alternate;
            height: 86%;
            float: right -2px;
        }

        .features > h1 {
            color: rgb(255, 255, 255);
            font-size: 18px;
            margin-left: 15px;
            margin-right: 15px;
            display: inline;
            font-family: 'Roboto Condensed', sans-serif;
            max-width: 100%;
        }

        .dot {
            height: 12px;
            width: 12px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .features-body {
            background-color: rgba(48, 44, 44, 0.808);
            text-align: center;
            max-width: 100%;
            height: 75px;
            margin: auto;
        }

        .features {
            padding: 27px;
        }

        
    }










@media only screen and (max-width: 1280px) and (min-width: 1142px)  {
    nav ul li a {
        font-size: 120%;
    }
  
  .frontprotection {
    width: auto;
    animation: animate 1.8s infinite alternate;
    height: 90%;
    float: right -2px;
  }
  .main-body {
    background-color: rgba(189, 189, 189, 0.10);
    text-align: left;
    width: 75%;
    margin: auto;
    padding-top: 80px;
    display: flex;
  }

  .body-intro > h1 {
    margin: 0;
    margin-left: 0px;
    margin-left: 30px;
    font-size: 35px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .body-intro > p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: list-item;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 55px;
  }

  .features > h1 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100%;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .features-body {
    background-color: rgba(48, 44, 44, 0.808);
    text-align: center;
    max-width: 100%;
    height: 80px;
    margin: auto;
  }
  .features {
    padding: 25px;
  }
}











@media only screen and (max-width: 1580px) and (min-width: 1284px){
    nav ul li a {
        font-size: 120%;
    }
  

  .frontprotection {
    width: auto;
    animation: animate 1.8s infinite alternate;
    height: 94%;
    float: right -4px;
  }

  .body-intro > h1 {
    margin: 0;
    margin-left: 0px;
    margin-left: 30px;
    font-size: 45px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .body-intro > p {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    display: list-item;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 55px;
  }

  .features > h1 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 100%;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .features-body {
    background-color: rgba(48, 44, 44, 0.808);
    text-align: center;
    max-width: 100%;
    height: 80px;
    margin: auto;
  }
  .features {
    padding: 25px;
  } 
}

