.main-body{
    width: 75%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}

.body-center {
  width: 87%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  } 

.shoptext {
  border-radius: 50px;
  margin: 25px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.shop-items{
  display: flex;
  justify-content: space-between;
  order: 3;
  flex-wrap: wrap;
  
}

.item {
  margin: 5px;
  flex: 2 1 25%;
  box-sizing: border-box;
}

.item > h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 10px;
  font-weight:900;
  color: #333;
  text-decoration: none;
}

.item > img {
  width: 75%;
  padding-bottom: 5px;
  object-fit: cover;
  transition: all .3s ease;
}

.item > img:hover {
  transform: scale(1.2);
  }


.price {
  color:green;
  font-weight: bold;
}

button {
  margin: 10px;
  background-color: #e40404; /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#inputCart{
  margin: 10px;
  background-color: #e40404; 
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
}

#inputCart:hover {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.price{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: green;
}

#qty-1{
  padding-right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

@media screen and (max-width: 768px){
  .main-body{
    display: flex !important;
  }
}